.jumbotron {
    background-size: cover;
}
body {
    padding: 0px;
    background-color: #ecf0f1;
}
.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 35px;
    padding-right: 35px;

}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 0;
}

.navbar-inverse-pageHeader {
    background-color: white;
    border-color: white;
}

.navbar-form{
margin-top: 8px;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
   border-top: 3px solid;
       border-top-color: #2780e3;
       margin-bottom: -1px;
}


