<h2 class="container-fluid">migration</h2>



<div class="container-fluid">
    <!--<p><strong>Grid with native pagination controls</strong></p>
    <div ui-grid="gridOptions1" ui-grid-pagination class="grid"></div>
    <br /><br />-->
    <p><strong>Grid pagination controlled via the API</strong></p>
    <div ui-grid="gridOptions2" ui-grid-pagination class="grid"></div>
    <br>
    <p>Current page: {{ gridApi2.pagination.getPage() }} of {{ gridApi2.pagination.getTotalPages() }}</p>

    <ul class="pagination pull-left">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a ng-click="gridApi2.pagination.nextPage()">2</a></li>
        <li><a ng-click="gridApi2.pagination.previousPage()" >3</a></li>
        <li><a ng-click="gridApi2.pagination.seek(3)">&raquo;</a></li>
    </ul>
    <br>
    <br><br>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>

</div>